@import "base";
//@import "responsive";

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 1 auto;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  & h1 {
    margin: 40px 0;
  }
  & nav {
    background-image: linear-gradient(#29b6f6, #0277bd);
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    flex-flow: row nowrap;
    & a {
      padding: 1rem;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      &:hover {
        transform: translateY(-1px);
      }
      &:active {
        transform: translateY(3px);
        background-color: #b3e5fc;
      }
    }
  }
}

#main-article {
  background-image: linear-gradient(145deg, #289CF1, #1ECFF8);
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  & #main-text {
    margin-left: 50px;
    width: 27vw;
    & h2 {
      font-size: 3.5rem;
      line-height: 0.75;
      margin-bottom: 25px;
      font-family: 'Poppins', sans-serif;
    }
    & p {
      margin-bottom: 25px;
    }
    & button {
      font-weight: 800;
      background-image: linear-gradient(#FFFF14, #FEDE00);
      padding: 10px 20px;
      border-radius: 20px;
      border: none;
      box-shadow: 5px 5px 5px #333;
      &:hover {
        background-color: #FCDE04;
      }
      &:active {
        transform: translateY(3px);
      }
    }
  }
}

#products {
  margin: auto;
  & table {
    width: 100vw;
    border: 1px solid rgba(211, 211, 211, 0.5);
    border-collapse: collapse;
  }
  & .product-wrapper {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-self: center;
    padding: 20px 10px;
    margin-bottom: 30px;
  }
  & .chevron-align {
    display: flex;
    align-items: center;
    & img {
      margin-right: 10px;
    }
    & span {
      font-weight: 900;
    }
  }
  & .product-fluff-wrapper {
    height: 30px;
    width: 175px;
    & p {
      margin: 10px 0 10px 40px;
    }
  }
}

#reviews {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & h3 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
  }
  & a {
    color: #27ABEB;
    text-decoration: none;
    font-size: 1.1rem;
    border-bottom: 1px solid #DBE9F4;
  }
}

#clients {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  & .client-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    & .client-pic {
      margin: 10px;
    }
    & .client-name {
      font-weight: bold;
      margin: 10px 0;
    }
    & .client-fluff {
      margin: 10px 0 20px 0;
    }
  }
}

footer {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(211, 211, 211, 0.5);
  & ul {
    list-style: none;
    & a {
      text-decoration: none;
      color: black;
    }
  }
  & #joinus {
    text-align: center;
    & p {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 700;
    }
    & img {
      margin: 0 2px;
    }
  }
}

@media only screen and (max-width: 1205px) {
  header {
    & nav {
      display: flex;
      flex-direction: column;
      padding: 50px 0;
      & a {
        text-align: left;
        margin-left: 30%;
        padding: 0.2rem;
      }
    }
  }
}
@media only screen and (max-width: 890px) {
  #main-article {
    display: flex;
    flex-direction: column;
    & #main-text {
      margin: 30px 0;
      width: 50vw;
    }
  }
}
@media only screen and (max-width: 785px) {
  #products {
    table tr td {
      display: block;
    }
    table {
      width: 300px;
      & td {
        box-shadow: 5px 5px 5px #333;
        margin: 3px
      }
    }
  }
  #clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .client-wrapper {
      margin: 20px
    }
  }
}
@media only screen and (max-width: 560px) {
  footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    text-align: center;
    & h3 {
      margin-top: 10px
    }
    & div {
      margin-top: 10px;
    }
  }
}
@media only screen and (max-width: 450px) {
  #reviews {
    margin-top: 20px;
    & h3 {
      font-size: 2em;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 325px) {
  #main-article{
    & #main-image {
      & img {
        width: 90vw;
      }
    }
  }
  #products {
    & table {
      & td {
        width: 90vw;
      }
    }
  }
}