@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100;1,300;1,900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 1 auto;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
}
header h1 {
  margin: 40px 0;
}
header nav {
  background-image: linear-gradient(#29b6f6, #0277bd);
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  flex-flow: row nowrap;
}
header nav a {
  padding: 1rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
header nav a:hover {
  transform: translateY(-1px);
}
header nav a:active {
  transform: translateY(3px);
  background-color: #b3e5fc;
}

#main-article {
  background-image: linear-gradient(145deg, #289CF1, #1ECFF8);
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#main-article #main-text {
  margin-left: 50px;
  width: 27vw;
}
#main-article #main-text h2 {
  font-size: 3.5rem;
  line-height: 0.75;
  margin-bottom: 25px;
  font-family: "Poppins", sans-serif;
}
#main-article #main-text p {
  margin-bottom: 25px;
}
#main-article #main-text button {
  font-weight: 800;
  background-image: linear-gradient(#FFFF14, #FEDE00);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 5px #333;
}
#main-article #main-text button:hover {
  background-color: #FCDE04;
}
#main-article #main-text button:active {
  transform: translateY(3px);
}

#products {
  margin: auto;
}
#products table {
  width: 100vw;
  border: 1px solid rgba(211, 211, 211, 0.5);
  border-collapse: collapse;
}
#products .product-wrapper {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-self: center;
  padding: 20px 10px;
  margin-bottom: 30px;
}
#products .chevron-align {
  display: flex;
  align-items: center;
}
#products .chevron-align img {
  margin-right: 10px;
}
#products .chevron-align span {
  font-weight: 900;
}
#products .product-fluff-wrapper {
  height: 30px;
  width: 175px;
}
#products .product-fluff-wrapper p {
  margin: 10px 0 10px 40px;
}

#reviews {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#reviews h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}
#reviews a {
  color: #27ABEB;
  text-decoration: none;
  font-size: 1.1rem;
  border-bottom: 1px solid #DBE9F4;
}

#clients {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
#clients .client-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
}
#clients .client-wrapper .client-pic {
  margin: 10px;
}
#clients .client-wrapper .client-name {
  font-weight: bold;
  margin: 10px 0;
}
#clients .client-wrapper .client-fluff {
  margin: 10px 0 20px 0;
}

footer {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(211, 211, 211, 0.5);
}
footer ul {
  list-style: none;
}
footer ul a {
  text-decoration: none;
  color: black;
}
footer #joinus {
  text-align: center;
}
footer #joinus p {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
}
footer #joinus img {
  margin: 0 2px;
}

@media only screen and (max-width: 1205px) {
  header nav {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }
  header nav a {
    text-align: left;
    margin-left: 30%;
    padding: 0.2rem;
  }
}
@media only screen and (max-width: 890px) {
  #main-article {
    display: flex;
    flex-direction: column;
  }
  #main-article #main-text {
    margin: 30px 0;
    width: 50vw;
  }
}
@media only screen and (max-width: 785px) {
  #products table tr td {
    display: block;
  }
  #products table {
    width: 300px;
  }
  #products table td {
    box-shadow: 5px 5px 5px #333;
    margin: 3px;
  }

  #clients {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #clients .client-wrapper {
    margin: 20px;
  }
}
@media only screen and (max-width: 560px) {
  footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    text-align: center;
  }
  footer h3 {
    margin-top: 10px;
  }
  footer div {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 450px) {
  #reviews {
    margin-top: 20px;
  }
  #reviews h3 {
    font-size: 2em;
    text-align: center;
  }
}
@media only screen and (max-width: 325px) {
  #main-article #main-image img {
    width: 90vw;
  }

  #products table td {
    width: 90vw;
  }
}

/*# sourceMappingURL=style-page1.css.map */
